@import "../../styles/partials/reset";

.background {
  background: url("./bar-beverage-cold-248427.jpg") no-repeat top center ;
  background-size: contain;
}

.container {
  width: 1124px;
  margin: 0 auto;
}

.page {
  height: 41rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
